<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredients</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js} "></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-10">
            <div class="card text-white bg-dark mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-11">
                            Ingredients
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn-light btn-sm" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}">New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-borderless table-hover text-white" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">View</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ingredient : ${recipe.ingredients}">
                            <th scope="row" th:text="${ingredient.id}">1</th>
                            <td th:text="${ingredient.getAmount()} + ' ' + ${ingredient.unitOfMeasure.getDescription()} + ' ' + ${ingredient.getDescription()}">Tasty Goodness</td>
                            <td><a class="text-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
                            <td><a class="text-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
                            <td><a class="text-light" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
